body{

		background:linear-gradient(to bottom left, #5c626e 41%, #ffffff 108%);
		background-size: cover;
		background-attachment: fixed;
}

h1{
	padding: 15px;
	font-size: 50px;
	/*position: 80%;*/
	margin-top: -330px;
	margin-left: 533px;
	text-align: center;
	position: absolute;
/*	transform: translate(-50%, -50%);*/
	font-family: "ALGERIAN";
	/*background-color: pink;*/
}

.Back{
	margin-top: -250px;
	margin-left: 470px;
	position: absolute;
	/*transform: translate(-50%, -50%);*/
	width: 400px;
	height: 80px;
/*	box-sizing: border-box;
	border-radius: 30px;
	background: rgba(255,255,255,.5);
	box-shadow: 0 15px 25px rgba(0,0,0,2);*/
}

.Akun{
	margin-top: -305px;
	margin-left: 230px;
/*	position: absolute;*/
	text-align: center;
	/*transform: translate(-50%, -50%);*/
	width:150px;
	height:180px;
	box-sizing: border-box;
	border-radius: 0px;
	background: rgba(255,255,255,1);
	box-shadow: 0 15px 25px rgba(0,0,0,2);
}

.pp{
	padding-top: 45px;
	padding-right: 5px;
	width: 100px;
	height: 100px;
}

.Foto{
	margin-top: 0px;
	margin-left: 105px;
	position: absolute;
	/*transform: translate(-50%, -50%);*/
	width: 400px;
	height:50px;
}

.Kelas{
	margin-top: 300px;
	margin-left: -240px;
	position: absolute;
	background-color: #7B96EE;
	width: 150px;
	height: 35px;
	border-radius: 10px;
	border: 2px solid #ffffff;
}

.logo{
/*	top: 35%;
	left: 300%;
	position: absolute;
	transform: translate(-200%, -50%);*/
	margin-top: 100px;
	margin-left: 900px;
	width: 400px;
	height: 380px;
}

.input{
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 400px;
	margin: auto;
	margin-top: 70px;
	border-radius: 35px;
}

::placeholder{
	color: #B8E0FF;
	font-family: Comic sans ms;
}

.input input{
	border-radius: 10px;
	text-align: center;
	margin-bottom: 50px;
	height: 40px;
	color: white;
	background: #7B96EE;
	border: 2px solid #ffffff;
	width: 300px;
	outline: none;
	font-color:white;
	font-size: 20px;
	display: block;
	transition: 0.5s;
}

.input input:focus{
	width: 400px;
	font-size: 20px;
	border-color: #ffc0cb;
	border-radius: 10px;
}

.Buat{
	margin-top: -200px;
	margin-left: 430px;
	position: absolute;
	/*transform: translate(-50%, -50%);*/
	width: 400px;
	height:50px;
}

input[type="Submit"]{
	background: #7B96EE;
	display: flex;
	flex-wrap: wrap;
	border: 3px solid #ffff80;
	justify-content: center;
	width: 120px;
	margin: auto;
	margin-top: 25px;
	border-radius: 50px;
	color: #B8E0FF;
	display: block;
	transition: 0.25s;
	height: 40px;
	font-size: 15px;
	font-family: "Comic sans ms";
	cursor: pointer;
}

input[type="Submit"]:hover{
	width: 135px;
	border-color: #ffc0cb;
}

input[type="file"]{
	background: #7B96EE;
	display: flex;
	flex-wrap: wrap;
	border: 3px solid #ffff80;
	justify-content: center;
	width: 120px;
	margin: auto;
	margin-top: 25px;
	border-radius: 50px;
	color: #B8E0FF;
	display: block;
	transition: 0.25s;
	height: 35px;
	font-size: 15px;
	font-family: "Comic sans ms";
	cursor: pointer;
}

input[type="file"]:hover{
	width: 135px;
	border-color: #ffc0cb;
}

