body{
		background-image: url(Beranda1.PNG);
		background-size: cover;
		background-attachment: fixed;
}	

.head{
	margin-top: -10px;
	margin-left: -10px;
	position: absolute;
	width: 1270px;
	height: 100px;
	box-sizing: border-box;
	border-radius: 5px;
	background: rgba(92, 98, 110,.8);
	box-shadow: 0 15px 25px rgba(0,0,0,2);
}

.pp{
	box-sizing: border-box;
	border-radius: 5px;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0 10px 30px rgba(0,0,0,2);
	margin-top: 10px;
	margin-left: 50px;
/*	padding-top: 45px;
	padding-right: 5px;*/
	width: 80px;
	height: 80px;
}

.nama{
	margin-top:-80px;
	margin-left: 150px;
	font-size: 25px;
	font-family: "Comic sans ms";
	color: #B8E0FF;
}

.gelar{
	margin-top: -15px;
	margin-left: 150px;
	font-size: 15px;
	font-family: "Comic sans ms";
	color: #F6F60E;
}

.trophy{
	position: absolute;
	margin-top: -65px;
	margin-left: 950px;
	width: 50px;
	height: 50px;
}

.buku{
	border-radius: 5px;
	border: 1px solid white;
	position: absolute;
	margin-top: -65px;
	margin-left: 1030px;
	width: 50px;
	height: 50px;
}

.coins{
	position: absolute;
	margin-top: -65px;
	margin-left: 1110px;
	width: 50px;
	height: 50px;
}

.logout{
	position: absolute;
	margin-top: -90px;
	margin-left: 1170px;
	width: 100px;
	height: 100px;
}

.menu{
	margin-top: 100px;
	margin-left: 680px;
	position: absolute;
	width: 565px;
	height: 50px;
	/*box-sizing: border-box;
	border-radius: 5px;
	border-top: none;
	border-left: none;
	border-right: none;
	background: rgba(255, 255, 255, .3);*/
/*	box-shadow: 0 15px 25px rgba(0,0,0,2);*/
/*	border-bottom: 2px solid rgba(255,0,0)*/
}

.menu p{
	display: inline-block;
	padding-right: 30px;
	font-size: 20px;
	font-family: "Comic sans ms";
	color: #F2E14C;
}

/*.Beranda{
	margin-top: 7px;
	margin-left: 10px;
	font-size: 20px;
	font-family: "Comic sans ms";
	color: #F2E14C;
	border-bottom: 2px dashed rgba(255,0,0);
}

.Berita{
	margin-top: -50px;
	margin-left: 130px;
	font-size: 20px;
	font-family: "Comic sans ms";
	color: #F2E14C;
}

.E-book{
	margin-top: -50px;
	margin-left: 240px;
	font-size: 20px;
	font-family: "Comic sans ms";
	color: #F2E14C;
}

.Pertanyaan{
	margin-top: -50px;
	margin-left: 350px;
	font-size: 20px;
	font-family: "Comic sans ms";
	color: #F2E14C;
}

.Events{
	margin-top: -50px;
	margin-left: 490px;
	font-size: 20px;
	font-family: "Comic sans ms";
	color: #F2E14C;
}
*/
.daftarbook{
	position: absolute;
	margin: 170px 75px 0px;
	width: 1100px;
	height: 750px;
	box-sizing: border-box;
	border-radius: 5px;
	background: rgba(255, 255, 255, .5);
	box-shadow: 0 15px 25px rgba(0,0,0,2);
}

.cari{
	
	display: flex;
	flex-wrap: wrap;
	width: 1000px;
	margin: 30px 0 0 50px;
	border-radius: 35px;
}

.lambang{
/*	position: absolute;*/
	margin-top: -94px;
	margin-left: 935px;
	width: 100px;
	height: 42px;
	border-radius: 10px;
	background: #7B96EE;
	border: 2px solid #000000;
	text-align: center;
}

.gambarcari{
	width: 40px;
	height: 40px;
}

::placeholder{
	color: #bfbfbf;
	font-family: Comic sans ms;
}

.cari input{
	border-radius: 10px;
	text-align: center;
	margin-bottom: 50px;
	height: 40px;
	color: black;
	background: #ffffff;
	border: 2px solid #000000;
	width: 860px;
	outline: none;
	font-color:white;
	font-size: 20px;
	display: block;
	transition: 0.5s;
}

.judul{
	margin-top: 20px;
	margin-left: 50px;
	font-size: 20px;
	font-family: "Comic sans ms";
	color: #000000;
}

.per1{
	margin: 20px 0 0 50px;
	height: 500px;
	width: 1000px;
	box-sizing: border-box;
	border-radius: 15px;
	background: rgba(255, 255, 255, 1);
}

.ppbesar{
	box-sizing: border-box;
	border-radius: 5px;
	background: rgba(255, 255, 255, 1);
	border: .5px solid black;
	margin: 25px 0 0 25px;
/*	padding-top: 45px;
	padding-right: 5px;*/
	width: 150px;
	height: 150px;
}

.namabuku{
	margin: -155px 0 0 200px;
	font-size: 20px;
	font-family: "Comic sans ms";
	color: #000000;
}

.pembuat{
	margin: 0px 0 0 200px;
	font-size: 20px;
	font-family: "Comic sans ms";
	color: #000000;
}

.ciri{
	margin: 20px 0 0 200px;
	font-size: 20px;
	font-family: "Comic sans ms";
	color: #000000;
}

.offline{
	position: absolute;
	margin: 130px 830px;
	font-size: 15px;
	font-family: "Comic sans ms";
	color: #000000;
	width: 150px;
}

a{
	text-decoration: none;
}